.products-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 30px;

  .title-section {
    display: flex;
    align-self: baseline;
    .title-products {
      font-weight: 900;
      font-size: 20px;
      line-height: 27px;
      color: #000000;

      &::after {
        display: block;
        border: 3px solid #c0c0c0;
        background-color: #c0c0c0;
        content: "";
        margin-top: 6px;
        margin-bottom: 20px;
        width: 65px;
        height: 0px;
      }
    }
  }

  .products-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-self: baseline;

    &:hover {
      background: #e6e8ea;
      cursor: pointer;
    }

    .products-information-text {
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      color: #7a7a7a;
    }

    .product-price {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      color: #000000;
    }

    .btn-shopping {
      width: 125.28px;
      height: 32.42px;
      background: #000000;
      border-radius: 5px;
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      color: #ffffff;
      border: none;
      outline: none;
      cursor: pointer;
      margin: 5px;
    }
  }

  .btn-arrows {
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    background-color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
  }

  .btn-left {
    background-image: url("../../../assets/icons/Group2.svg");
    left: calc(4% + 1px);
  }
  .btn-right {
    background-image: url("../../../assets/icons/Group.svg");
    right: calc(4% + 1px);
  }

  .carousel-container {
    width: 100%;
  }

  .item-list {
    width: 250px !important;
    margin: 0 50px;
  }
}
