.address {
  color: #fff;
  font-size: 13px;

  @media screen and (max-width: 650px) {
    display: flex;
    flex-direction: column;
    align-self: baseline;
    margin-left: 16px;
  }

  h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
  }

  h3::after {
    display: block;
    height: 5px;
    width: 45px;
    background-color: #fff;
    content: "";
    margin-top: 16px;
  }

  .text {
      padding-top: 12px;
  }

  .link {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
  }
}
