.carousel {
  .carousel-slider {
    max-height: 430px;
  }
  .slide {
    .span-container {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;

      .carousel-text {
        font-size: clamp(10px, 25px, 30px);
        line-height: 41px;
        color: #ffffff;
        position: relative;
        text-align: center;
        width: 40%;
        height: 100%;
       // background-color: #000;
        float: left;
        display: inline-grid;
        align-content: center;

        &::after {
          content: " Criar ou migrar seu e-commerce?";
          font-weight: 900;
          font-size: clamp(10px, 30px, 45px);
          line-height: 45px;
        }

        @media screen and (max-width: 540px) {
          position: absolute;
          width: auto;
          font-size: 20px;
        }
      }

      img {
        vertical-align: top;
        border: 0;
        width: 60%;
        height: 100%;
        position: relative;
        float: right;

        @media screen and (max-width: 540px) {
          width: 100%;
          position: unset;
        }
      }
    }
  }
}
